<div *ngIf="postsLoaded && posts.length == 0">
  <ion-row class="ion-align-items-center">
    <ion-col class="ion-text-center">
      <p>There are no posts to be shown.</p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col class="ion-text-center">
      <ion-icon class="no-posts-icon" name="images-outline"></ion-icon>
    </ion-col>
  </ion-row>
</div>

<ion-grid *ngIf="postsLoaded && posts.length > 0" class="three-col-grid">
  <ion-row>
    <div
      (click)="goToPost(post)"
      *ngFor="let post of posts"
      class="oneThirdSquare"
    >
      <img src="{{ post.pictureURLs[0] }}" alt="" />
    </div>
  </ion-row>
</ion-grid>
