<ion-row class="ion-align-items-center">
  <ion-col class="ion-text-center">
    <p class="info">
      Buy coins and gems to get new services!
    </p>
  </ion-col>
</ion-row>

<ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-col class="ion-text-center" size="4">
      <coin-pack [coin]="packsService.coinPacks[0]"></coin-pack>
    </ion-col>

    <ion-col class="ion-text-center" size="4">
      <coin-pack [coin]="packsService.coinPacks[1]"></coin-pack>
    </ion-col>

    <ion-col class="ion-text-center" size="4">
      <coin-pack [coin]="packsService.coinPacks[2]"></coin-pack>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col class="ion-text-center" size="4">
      <coin-pack [coin]="packsService.coinPacks[3]"></coin-pack>
    </ion-col>

    <ion-col class="ion-text-center" size="4">
      <coin-pack [coin]="packsService.coinPacks[4]"></coin-pack>
    </ion-col>

    <ion-col class="ion-text-center" size="4">
      <coin-pack [coin]="packsService.coinPacks[5]"></coin-pack>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-row class="ion-align-items-center">
  <ion-col class="ion-text-center">
    <p class="info">
      You can buy services with coins and gems. Gems allow you to promote your
      posts.
    </p>
  </ion-col>
</ion-row>
