ion-row {
  p {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
}

.post-info {
  margin-inline-start: 12px;

  .title {
    font-weight: bold;
    font-size: 13px;
    margin-top: 5px;
  }

  .price-range {
    font-size: 13px;
    font-weight: bold;
  }

  .description {
    font-size: 13px;
    margin-top: 5px;
  }

  .hours-ago {
    font-size: 10px;
    color: gray;
    margin: 10px 0;
    text-transform: uppercase;
  }
}
