<ion-content>
  <ion-row class="ion-align-items-end">
    <ion-col class="ion-text-center">
      <p class="app-title animated fadeInUp">I S T A B R A G</p>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-end">
    <ion-col class="ion-text-center">
      <p class="app-title-ar animated fadeInUp">إستبرق</p>
    </ion-col>
  </ion-row>

  <!--<ion-row class="ion-align-items-start">
    <ion-col class="ion-text-center">
      <ion-spinner class="animated fadeIn"></ion-spinner>
      <p class="loading animated fadeIn">Loading...</p>
    </ion-col>
  </ion-row>-->
</ion-content>
