.next {
  --color: var(--ion-color-primary);
}

ion-item {
  --padding-start: 0;

  img {
    padding-inline-start: 16px;
  }

  p {
    padding-inline-start: 16px;
    font-size: 14px;
  }

  ion-textarea {
    font-size: 13px;
  }
}
