ion-card {
  margin-block-start: 5px;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding: 0;

  .user-info {
    p {
      font-weight: 600;
      font-size: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-inline-start: 5px;
    }
  }

  .shop-title {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
  }

  .shop-image {
    width: 90vw;
    border-radius: 20px;
  }

  .shop-description {
    font-size: 13px;
    padding: 0 12px;
  }

  .posts-count {
    margin-inline-start: 8px;
    font-weight: bold;
  }
}
