<div *ngIf="reviewsLoaded && reviews.length == 0">
  <ion-row class="ion-align-items-center">
    <ion-col class="ion-text-center">
      <p>There are no reviews yet.</p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col class="ion-text-center">
      <ion-icon class="no-reviews-icon" name="star-outline"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col class="ion-text-center">
      <ion-button *ngIf="canAddReview" (click)="addReview()">
        Add a review
      </ion-button>
    </ion-col>
  </ion-row>
</div>

<div *ngIf="reviewsLoaded && reviews.length > 0" class="reviews-container">
  <ion-list>
    <ion-item *ngFor="let review of reviews" no-padding lines="none">
      <ion-avatar slot="start">
        <img
          *ngIf="review.user.pictureURL"
          src="{{ review.user.pictureURL }}"
        />

        <img
          *ngIf="!review.user.pictureURL"
          src="..\..\assets\icon\favicon.png"
        />
      </ion-avatar>

      <div>
        <ion-row class="ion-align-items-center">
          <p class="username">
            {{ review.user.name }}
          </p>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <p class="comment">
            {{ review.content }}
          </p>
        </ion-row>
      </div>

      <p slot="end" class="time-ago">
        {{ review.timeAgo }}
      </p>
    </ion-item>
  </ion-list>

  <ion-row class="ion-align-items-center">
    <ion-col class="ion-text-center">
      <ion-button
        class="add-review-button"
        *ngIf="canAddReview"
        (click)="addReview()"
      >
        Add a review
      </ion-button>
    </ion-col>
  </ion-row>
</div>
